<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @assignment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @assignment.end_date %>
</p>

<p>
  <strong>Person:</strong>
  <%= @assignment.person_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @assignment.project_id %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
